In [43]:
import plotly.graph_objs as go
import pandas as pd

df = pd.read_csv("data/orderbook.csv", index_col=False)
df.head()

    pairs              datetime orderbook   price  amounts
0  LTCEUR  2022-03-02, 11:02:55       ask  101.58     0.56
1  LTCEUR  2022-03-02, 11:02:55       ask  101.60     2.51
2  LTCEUR  2022-03-02, 11:02:55       ask  101.61    71.27
3  LTCEUR  2022-03-02, 11:02:55       ask  101.77     3.00
4  LTCEUR  2022-03-02, 11:02:55       ask  101.84     0.17

In [47]:
df=df[df["pairs"] == "SACUSDT"]

       pairs              datetime orderbook    price  amounts
703  SACUSDT  2022-03-02, 11:54:23       ask  0.48800   5064.0
704  SACUSDT  2022-03-02, 11:54:23       ask  0.48954   3514.0
705  SACUSDT  2022-03-02, 11:54:23       ask  0.49000    890.0
706  SACUSDT  2022-03-02, 11:54:23       ask  0.49500   5000.0
707  SACUSDT  2022-03-02, 11:54:23       ask  0.50000  19922.0
708  SACUSDT  2022-03-02, 11:54:23       ask  0.50156   4500.0
709  SACUSDT  2022-03-02, 11:54:23       ask  0.51000   1469.0
710  SACUSDT  2022-03-02, 11:54:23       ask  0.99000     10.0
711  SACUSDT  2022-03-02, 11:54:23       bid  0.48500    129.0
712  SACUSDT  2022-03-02, 11:54:23       bid  0.48000    477.0
713  SACUSDT  2022-03-02, 11:54:23       bid  0.09000     65.0
714  SACUSDT  2022-03-02, 11:54:23       bid  0.08000     50.0
715  SACUSDT  2022-03-02, 11:54:23       bid  0.01000   3692.0

In [48]:

trace1 = {
  "mode": "lines+markers", 
  "name": "bid", 
  "type": "scatter", 
  "x": df.price[df.orderbook == "bid"],
  "y": df.amounts[df.orderbook == "bid"]
}
trace2 = {
  "mode": "lines+markers", 
  "name": "ask", 
  "type": "scatter", 
  "x": df.price[df.orderbook == "ask"],
  "y": df.amounts[df.orderbook == "ask"]
}
data = ([trace1, trace2])
layout = {
  "title": "Limited Order Book", 
  "xaxis": {"title": "price"}, 
  "yaxis": {"title": "amount"}
}
fig = go.Figure(data=data, layout=layout)
fig.write_html("orderbook.html")

In [51]:
df.pairs.values[0]

'SACUSDT'